<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Pain / Activity Log: entry tracker</title>
	<link rel="icon" href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text style="font-size: 80px" x="50%" y=".85em" dominant-baseline="middle" text-anchor="middle"></text></svg>'>
	<link rel="stylesheet" href="https://get.mavo.io/mavo.css">
	<link rel="stylesheet" href="../style.css">
	<style>
		:root {
			--accent-color: #322259;
			--icon: "";
		}
		
	</style>
	<link rel="manifest" href="manifest.json">
	<script type="module" src="https://projects.verou.me/h-chart/src/h-chart.js"></script>
	<script type="module" src="https://nudeui.com/elements/index.js"></script>
</head>
<body mv-app="lifesheet" class="mv-autoedit" mv-storage="https://github.com/Bolmara/my-lifesheets/painlogcopy/data.json">
	<header>
		<h1>
			<span class="app-icon"></span>
			<span class="app-name">Pain / Activity Log</span>
		</h1>
		<h2>pain log</h2>
		<div class="mv-bar mv-ui" mv-bar="with import export"><a href="#entries" class="mv-button custom entries">Entries</a></div>
	</header>

	<main class="charts-first">
		<a id=stats></a>
			<div class="chart-row">
				<figure data-type="chart" class="chart appearance-stretch type-line" style="min-width: min(300px, 100vw)">
	
	<h-chart id="chart10" type="line" x="a" y="c" options="smooth" amax="10">
		<table mv-list="chart10" mv-value="groupBy(entry, readable_datetime(entry.date_time, 'day'))">
			<thead>
				<tr>
					<th hc-name="a">Day</th>
<th hc-name="b">Label</th><th hc-name="c">Value</th>
				</tr>
			</thead>
			<tbody mv-list-item mv-group>
				<tr mv-if="count($items.pain)">
										<td>[$value]</td>
										<td>average pain</td>
										<td>[average($items.pain)]</td>
									</tr>
<tr mv-if="count($items.fatigue)">
										<td>[$value]</td>
										<td>average fatigue</td>
										<td>[average($items.fatigue)]</td>
									</tr>
			</tbody>
		</table>
	</h-chart>
	<figcaption>Average pain, fatigue per day</figcaption></figure>
			</div>
		<a id=entries></a>
			<div class="field-row">
				<button data-type="action" data-show="edit" mv-action="add(entry)">➕ Add entry</button>
			</div>
		<section mv-list="entry">
			<article mv-list-item class="entry">
				<header class="field-row">
					<div property="activity" data-type="property" class="appearance-stretch type-text"></div>
					<span property="date_time" data-type="expression" data-show="false" mv-value="datetime(date, time)"></span>
					<time property="date" data-type="property" mv-default="[$today]" mv-edit-type="inline" mv-editor-type="date" class="bold type-date"></time>
					<time property="time" data-type="property" data-prefix=" at " mv-default="[time($startup, 'hours')]" mv-edit-type="inline" mv-editor-type="time" class="type-time"></time>
				</header>
				<span data-type="spacer" class="appearance-line"></span>
				<div class="field-row">
					<span class="field-container" data-prefix="Pain Level - "><meter-discrete property="pain" data-type="property" mv-default="5" min="1" max="10" step="1" mv-edit-as="meter" icon="🔪" class="type-number bar"></meter-discrete></span>
					<span data-type="spacer" class="appearance-stretch"></span>
					<span class="field-container" data-prefix="Fatigue"><meter-discrete property="fatigue" data-type="property" mv-default="5" min="1" max="10" step="1" mv-edit-as="meter" icon="🪑" class="type-number bar"></meter-discrete></span>
				</div>
			</article>
		</section>
	</main>

	<script src="https://get.mavo.io/mavo.js"></script>
	<script>
		Mavo.Functions.process_visible = function (value) {
			value = Mavo.value(value);
			return ["true", "false", "edit", "read"].includes(value) ? value : Boolean(value);
		}; 
	</script>
</body>
</html>